<header class="bar bar-nav">
    <button class="btn btn-link btn-back btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
        Back
    </button>
    <h1 class="title"><%= model.get("name") %></h1>
</header>

<div class="content">
   <ul class="table-view">

        <% if(model.currentEvent){ %>

            <li class="table-view-cell table-view-divider">
                <%t ('rooms.current') %>
            </li>
            <li class="table-view-cell media">
                <a class="" href='#contents/<%= model.currentEvent.contentId%>'>
                    <%- model.currentEvent.content.description || 'No Current Event :(' %>
               </a>
            </li>

        <% } %>

        <% if(!_.isEmpty(model.upcomming)){ %>

            <li class="table-view-cell table-view-divider">
                <%t ('rooms.upcomming') %>
            </li>

            <% model.upcomming.forEach(function (event) { %>
                <li class="table-view-cell media">
                    <a class="navigate-right" href='#contents/<%=event.contentId%>'>
                        <%- event.content.description %>
                    </a>
                </li>
            <% }) %>

        <% } else { %>
            <li class="table-view-cell table-view-divider">
                Nothing to display
            </li>
        <% } %>

    </ul>
</div>


