<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left btn-back"></a>
    <a class="icon fa fa-map-marker pull-right" href="#maps/<%- encodeURIComponent(model.get('image'))%>&<%= model.get('name') %>"></a>
    <h1 class="title"><%- model.get("name") %></h1>
</header>

<div class="content show-room">
   <ul class="table-view rooms-show">

        <% if(model.currentEvent){ %>

            <li class="table-view-cell table-view-divider">
                <%t ('rooms.current') %>
            </li>
            <li class="table-view-cell media">
                <a href='#contents/<%- model.currentEvent.contentId%>/<%- model.currentEvent.id%>'>
                    <div class="media-body">
                        <h4 class="content-title">
                            <%- model.currentEvent.content.description || t ('rooms.no_current_events') %>
                        </h4>
                        <p>
                            <%- model.currentEvent.summary %>
                        </p>
                        <p class="content-date">
                            <%- App.utils.convertDate([model.currentEvent.startAt,model.currentEvent.endAt]) %>
                        </p>
                    </div>
                </a>
            </li>

        <% } %>

        <% if(!_.isEmpty(model.upcoming)){ %>

            <li class="table-view-cell table-view-divider">
                <%t ('rooms.upcoming-events') %>
            </li>

            <% if (model.upcomingFirst) { %>
                <li class="table-view-cell media">
                    <a href='#contents/<%-model.upcomingFirst.contentId%>/<%- model.upcomingFirst.id%>'>
                        <div class="media-body">
                            <h4 class="content-title">
                                <%- model.upcomingFirst.content.description || t ('rooms.no_current_events') %>
                            </h4>
                            <p>
                                <%- model.upcomingFirst.summary %>
                            </p>
                            <p class="content-date">
                                <%- App.utils.convertDate([model.upcomingFirst.startAt,model.upcomingFirst.endAt]) %>
                            </p>
                        </div>
                    </a>
                </li>
            <% }%>

            <% model.upcoming.forEach(function (event) { %>
                <li class="table-view-cell media">
                    <a href='#contents/<%=event.contentId%>/<%= event.id%>'>
                        <h4 class="content-title">
                            <%- event.content.description %>
                        </h4>
                    </a>
                </li>
            <% }) %>

        <% } else { %>
            <li class="table-view-cell table-view-divider">
                Nothing to display
            </li>
        <% } %>

    </ul>
</div>

