<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left btn-back"></a>
    <a class="icon fa fa-map-marker pull-right" href="#maps/<%- encodeURIComponent(model.get('image'))%>&<%= model.get('name') %>"></a>
    <h1 class="title"><%- model.get("name") %></h1>
</header>

<div class="content">
    <ul class="table-view rooms-home">
        <% if(model.currentEvent){ %>

            <li class="table-view-cell table-view-divider event-moment">
                <p>
                    <%t ('rooms.current') %>:
                </p>
            </li>
            <li class="table-view-cell media current-event navigate-right">
                <a href='#contents/<%- model.currentEvent.contentId%>/<%- model.currentEvent.id%>'>
                    <div class="media-body">
                        <p class="content-summary">
                            <%- model.currentEvent.summary %>
                        </p>
                    </div>
                    <span class="content-hour"><i class="fa fa-calendar"></i>
                        <%- App.utils.convertDate(model.currentEvent.startAt,'dayString')%>
                        <%- App.utils.convertDate([model.currentEvent.startAt,model.currentEvent.endAt],'times') %>
                    </span>
                </a>
            </li>

        <% } %>

        <% if(!_.isEmpty(model.upcoming)){ %>

            <li class="table-view-cell table-view-divider event-moment">
                <p>
                    <%t ('rooms.upcoming-events') %>:
                </p>
            </li>
            <% if (model.upcomingFirst) { %>
                <li class="table-view-cell media upcoming-event navigate-right">
                    <a href='#contents/<%=model.upcomingFirst.contentId%>/<%= model.upcomingFirst.id%>'>
                        <div class="media-body">
                            <div class="date">
                                <p class="day-name"> <%- App.utils.convertDate(model.upcomingFirst.startAt,'dayStringShort')%></p>
                                <p class="day"> <%- App.utils.convertDate(model.upcomingFirst.startAt,'day')%></p>
                                <p class="month"> <%- App.utils.convertDate(model.upcomingFirst.startAt,'month')%></p>
                            </div>
                            <div class="room-content-partial">
                                <span class="content-hour"><i class="fa fa-calendar"></i>
                                    <%- App.utils.convertDate([model.upcomingFirst.startAt,model.upcomingFirst.endAt],'times') %>
                                </span>
                                <p class="content-summary">
                                    <%- model.upcomingFirst.summary %>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            <% }%>

            <% model.upcoming.forEach(function (event) { %>
                <li class="navigate-right table-view-cell media upcoming-event">
                    <a href='#contents/<%=event.contentId%>/<%= event.id%>'>
                        <div class="media-body">
                            <div class="date">
                                <p class="day-name"> <%- App.utils.convertDate(event.startAt,'dayStringShort')%></p>
                                <p class="day"> <%- App.utils.convertDate(event.startAt,'day')%></p>
                                <p class="month"> <%- App.utils.convertDate(event.startAt,'month')%></p>
                            </div>
                            <div class="room-content-partial">
                                <span class="content-hour"> <i class="fa fa-calendar"></i>
                                    <%- App.utils.convertDate([event.startAt,event.endAt],'times') %>
                                </span>
                                <p class="content-summary">
                                    <%- event.summary %>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            <% }) %>

        <% } else { %>
            <li class="table-view-cell table-view-divider">
                No hay eventos en la Sala
            </li>
        <% } %>
    </ul>
</div>


