<header class="bar bar-nav">
    <button class="btn btn-link btn-back btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
        Back
    </button>
    <h1 class="title"><%= model.get("name") %></h1>
</header>

<div class="content show-room">
   <ul class="table-view rooms-show">

        <% if(model.currentEvent){ %>

            <li class="table-view-cell table-view-divider">
                <%t ('rooms.current') %>
            </li>
            <li class="table-view-cell media">
                <a class="" href='#contents/<%= model.currentEvent.contentId%>'>
                    <div class="media-body">
                        <h4 class="content-title">
                            <%- model.currentEvent.content.description || 'No Current Event :(' %>
                        </h4>
                        <p>
                            <%- model.currentEvent.summary %>
                        </p>
                        <p>
                            <%- App.utils.convertDate([model.currentEvent.startAt,model.currentEvent.endAt]) %>
                        </p>
                    </div>
                </a>
            </li>

        <% } %>

        <% if(!_.isEmpty(model.upcoming)){ %>

            <li class="table-view-cell table-view-divider">
                <%t ('rooms.upcoming') %>
            </li>

            <% if (model.upcomingFirst) { %>
                <li class="table-view-cell media">
                    <a class="navigate-right" href='#contents/<%=model.upcomingFirst.contentId%>'>
                        <div class="media-body">
                            <h4 class="content-title">
                                <%- model.upcomingFirst.content.description || 'No Current Event :(' %>
                            </h4>
                            <p>
                                <%- model.upcomingFirst.summary %>
                            </p>
                            <p>
                                <%- App.utils.convertDate([model.upcomingFirst.startAt,model.upcomingFirst.endAt]) %>
                            </p>
                        </div>
                    </a>
                </li>
            <% }%>

            <% model.upcoming.forEach(function (event) { %>
                <li class="table-view-cell media">
                    <a class="navigate-right" href='#contents/<%=event.contentId%>'>
                        <%- event.content.description %>
                    </a>
                </li>
            <% }) %>

        <% } else { %>
            <li class="table-view-cell table-view-divider">
                Nothing to display
            </li>
        <% } %>

    </ul>
</div>


