<a href='#newsContents/<%- item.get("contentId")%>'>
    <div class="media-body">

        <div class="room-content">
        <%- item.get('title') %>
        <% if(item.get('isFirst')) { %>
            <p><%- item.get('summary') %></p>
        <% } %>
            <span class="content-hour">
                <i class="fa fa-calendar"></i>
                <%- App.utils.convertDate(item.get('publishDate'),'day') %>
                <%- App.utils.convertDate(item.get('publishDate'), 'month') %>
                <%- App.utils.convertDate([item.get('publishDate')], 'times') %>
            </span>
        </div>
    </div>
</a>
