<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left btn-back"></a>
    <a class="icon fa <%= model.isFavorite() %> pull-right" id="add-favorite"></a>
    <h1 class="title"><%- model.get('description') %></h1>
</header>

<div class="content">
    <ul class="table-view">
        <li class="table-view-cell media">
            <div class="media-body">
                <% model.get('events').forEach(function (event) { %>
                    <% if (event.id === model._previousAttributes.eventId) {%>
                        <h4 class="room-name">
                            <%- event.room.name %>
                        </h4>
                        <p class="content-date">
                            <%- App.utils.convertDate([event.startAt, event.endAt]) %>
                        </p>
                    <% } %>
                <% })%>
                <p>
                    <%= model.get('content') %>
                </p>
            </div>
        </li>
    </ul>
</div>
