<%= JST['app/scripts/templates/partials/_navigation.ejs']({
    nav: 'favorites',
    title: 'utils.favorites'
}) %>

<div class="content">
    <ul class="table-view rooms-home">
        <% collection.forEach(function(item){ %>
            <li class="table-view-cell media">
                <a href='#contents/<%- item.get("favoriteId")%>/<%- item.get("eventId")%>'>
                    <div class="media-body">
                        <h4 class="content-title">
                            <%- item.get('description') %>
                        </h4>
                        <p class="content-date">
                            <%- App.utils.convertDate([item.get('startAt'), item.get('endAt')]) %>
                        </p>
                        <%= item.get('content') %>
                    </div>
                </a>
            </li>
        <% }) %>
    </ul>
</div>
